
.link_video, .videoQuimica, .VideoFisica, .videoSociales, .videoMatematicas, .videoLectura, .videoIngles{
    border: 3px solid rgba(255, 255, 255, 0);
    display: grid;
    gap: 1rem;
    grid-auto-rows: 17rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    width: 100%;
}
.link_documento, .DocumentoFisica, .documentoQuimica, .docSociales, .docMatematicas, .docIngles, .docLectura{
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
#contenedor_media{
    border: 3px solid rgba(255, 255, 255, 0);
    text-align: center;
}
#cont_titulo{
    height: 60px;
}
#cont_videos{
    width: 350px;
    height: 200px;
}
